@import '~antd/dist/antd.css';


/* App.js */
.App {
  min-height: 100vh;
  width: 100%;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.cta-button {
  height: 45px;
  border: 0;
  margin: 20px auto;
  padding: 0 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.connect-wallet-button, .mint-button {
  background: -webkit-linear-gradient(left, #fae0e4, #ff477e);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Navbar.js */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-bottom: 2px solid #ff477e;
  height: 15vh;
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.header {
  font-size: 2rem;
  font-weight: bold;
}
.gradient-text {
  background: -webkit-linear-gradient(left, #fae0e4 30%, #ff477e 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Nav {
  display: flex;
  justify-content: center;
}
.navlink{
  margin: auto 40px;
  font-weight: bold;
  font-size: 1.2rem;
  color:  #fae0e4;
  text-decoration: none;
}
.navlink:hover {
  color: #ff477e;
}
.navlink:focus {
  color: #ff477e;
  text-decoration: underline;
}

/* Footer.js */

.footer-container { 
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 9999;
}
.twitter-logo, .opensea-logo {
  width: 35px;
  height: 35px;
  margin: 5px;
}
.footer-text {
  color:  #fae0e4;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}
.footer-text:hover {
  color: #ff477e; 
}

/* .bottom-banner {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../assets/kirby-30th-wallpaper.png');
  background-size: 1000px;
  border-style: outset;
  height: 10vh;
  width: 100%;
} */

/* Home.js */

h1{
  font-size: 3.5rem;
  color: #0d1116;
  margin: 20px auto;
  font-weight: 700;
  text-shadow: 1px 1px 1px #fae0e4,
              1px 2px 1px #fae0e4,
              1px 3px 1px #fae0e4,
              1px 4px 1px #fae0e4,
              1px 5px 1px #fae0e4,
              1px 6px 1px #fae0e4,
              1px 7px 1px #fae0e4,
              1px 8px 1px #fae0e4,
              1px 9px 1px #fae0e4,
              1px 10px 1px #fae0e4,
              1px 18px 6px rgba(16,16,16,0.4),
              1px 22px 10px rgba(16,16,16,0.2),
              1px 25px 35px rgba(16,16,16,0.2),
              1px 30px 60px rgba(16,16,16,0.4);
  
}
.home-container{
  padding: 50px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.title {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}
.keane-art {
  width: 35%;
  height: auto;
  display: flex;
  margin: 0 40px;
}
.kirby-16bit {
  width: 80%;
  height: auto;  
}

/* NFT.js */

.nft {
  margin: auto;
  padding: 50px;
}
/* Heart.js */

.heart {
  padding: 30px;
  margin: auto;
  max-height: 30vh;
  max-width: 30vh;
}
.heart[animation="0"] {
  animation: pulsate-bck 0.8s ease-in-out infinite both;
}
.heart[animation="1"] {
  animation: jello-horizontal 0.9s both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* Gallery */
.gallery {
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 50px;
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d1116;
  border-bottom: 1px solid rgba(255,255,255,.2);

  }
.pic {
  width: 40%;
  height: auto;
  margin: auto;
  margin: 20px auto;
  }

  /* Card.js */
  .card {
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform-style: preserve-3d;
    background-color: white;
  }
    img { 
      width: 60%;
      height: 60%;
    } 
  
    
    .card .front{
        background-color: white;
        margin: auto;
        border-radius: 5px;
        border: 2px solid #DEDEDE;
        position: absolute;
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
    }
    
    .card .front.matched{
        background-color:  #70ff6b;
    }
    
    .flipped .front {
        transform: rotateY(0deg);
        transition-delay: 0.2s;
    }
    
    .card .back{
        background-color: white;
        margin: auto;
        border-radius: 5px;
        border: 2px solid white;
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
    }
    
    .flipped .back {
        transform: rotateY(90deg);
        transition-delay: 0s;
    }
  
  /* Game.js */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d1116;
  color:#fae0e4;
  font-size: 1.2rem;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
}
h2{
  color: #fae0e4;
  font-size: 1.8rem;
}

.game-container button:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.grid {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    border: 1px solid #dedede;
    padding: 10px;
    box-shadow: 0 0 5px 5px #DEDEDE;
    perspective: 100%;
    max-width: 1200px;
    background-color: white;
}

.grid div img {
    width: 80%;
}
.moves{
  margin-bottom: 20px;
}
/* KeyFrames */



/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    align-items: center;
  }
  .header {
    font-size: 1.5rem;
  }
  .navlink{
    font-size: 1.3rem;
    margin: 10px;
  }
  .block {
    width: 60%;
    height: auto;
    margin: auto;
   
    }
  .pic {
    width: auto;
    height: auto;
    margin: auto;
    margin: 20px auto;
  }
}

@media (max-width: 375px) {
  .navbar {
    align-items: center;
  }
  .header {
    font-size: 1rem;
    
  }
  .navlink{
    font-size: 0.8rem;
    margin: 10px;
  }
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
    width: 100%;
  }

  .footer-text {
    font-size: 0.8rem;
  }
  .home-container {
    width: 100%;
    margin: 50px;
  }
 
  .title {
    width: auto;
    margin: 0;
  }
  .keane-art {
    width: 30%;
    height: auto;
    display: flex;
    margin: 20px;
  }
  
  .kirby-16bit {
    width: 80%;
    height: auto;  
  }

  .block {
    width: 60%;
    height: auto;
    margin: auto;
   
    }
  .pic {
    width: auto;
    height: auto;
    margin: auto;
    margin: 20px auto;
  }
  .grid {
    height: 350px;
    width: 350px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.game-container{
  font-size: 1rem;
  padding: 10px 0 50px 0;
}
  
}
