@import '~antd/dist/antd.css';

.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;

}
.heart {
  padding: 10px;
  margin: auto;
  max-height: 20vh;
  max-width: 10%;
}

.heart[animation="0"] {
  animation: pulsate-bck 0.8s ease-in-out infinite both;
}

.heart[animation="1"] {
  animation: jello-horizontal 0.9s both;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.header-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  width: auto;
  display: flex;
  justify-content: center;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #fae0e4 30%, #ff477e 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  margin: 50px auto;
  padding: 0 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #fae0e4, #ff477e);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.twitter-logo, .opensea-logo {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.9);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
